<template>
  <main>
    <h1>Find the word in 5 tries or less</h1>
    <div id="reload_bt" v-on:click="changeWord()">
      <img src="@/assets/img/reload.svg" />
    </div>

    <div id="finishPhrase" v-if="isWin || isLost">
      <h3 v-if="isWin">You win Einstein!</h3>
      <h3 v-if="isLost">You lose Dummy!</h3>
    </div>

    <div id="lines">
      <div class="line" v-for="(userResponse, i) in userResponses" :key="i">
        <WordForm
          ref="wordForm"
          v-if="tries >= i"
          @checkWord="checkWord"
          v-bind:userRes="userResponse"
        />
      </div>
    </div>

    <div id="response">
      <WordForm
        v-if="isLost"
        v-bind:userRes="finalRes"
        v-bind:isLost="isLost"
      />
    </div>
  </main>
</template>

<script>
import WordForm from "../components/WordForm.vue";
import { startConfetti } from "../lib/confetti";
import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    WordForm,
  },
  name: "Signin",
  data() {
    return {
      attempts: 5,
      tries: 0,
      isWin: false,
      isLost: false,
      finalRes: undefined,
      status: {
        default: "default",
        good: "good",
        quite: "quite",
        wrong: "wrong",
        final: "final",
      },
    };
  },
  computed: {
    ...mapGetters(["word"]),
    mainWord() {
      return this.word;
    },
    userResponses() {
      return Array(this.attempts).fill(this.createEmptyLine());
    },
  },
  methods: {
    ...mapActions(["getMainWord"]),

    checkWord(guessedWord) {
      const arrayGuessedWord = guessedWord.map((x) => x.value);
      const arrayMainWord = Array.from(this.mainWord);
      let results = this.buildResponse(
        guessedWord,
        arrayGuessedWord,
        arrayMainWord
      );
      this.userResponses[this.tries] = results.guessedWord;

      if (!this.checkEquals(arrayMainWord, arrayGuessedWord)) {
        if (this.tries < this.attempts - 1) {
          this.userResponses[this.tries + 1] = results.arrayNextWord;
          this.tries += 1;
        } else if (this.tries === this.attempts - 1) {
          this.isLost = true;
          this.finalRes = arrayMainWord.map((val) => {
            return {
              value: val,
              status: this.status.final,
            };
          });
          startConfetti(false);
        }
      } else {
        this.isWin = true;
        startConfetti(true);
      }
    },
    buildResponse(guessedWord, arrayGuessedWord, arrayMainWord) {
      let arrayNextWord = [];
      let indexGood = [];
      let indexGuessedWord = [];
      let indexMainWord = [];

      // arrayNextWord - Find good letters at good index
      if (arrayMainWord.some((el) => arrayGuessedWord.includes(el))) {
        arrayNextWord = arrayGuessedWord.map((val, i) => {
          const isSame = val === arrayMainWord[i];
          if (isSame) guessedWord[i].status = this.status.good;
          if (isSame) indexGood.push(i);
          return {
            value: isSame ? val : null,
            status: isSame ? this.status.good : null,
          };
        });
      }

      // guessedWord - Find wrong letters & good letters at wrong place
      arrayGuessedWord.forEach((el, i) => {
        arrayMainWord.forEach((val, index) => {
          if (
            el === val &&
            i !== index &&
            !indexGood.includes(i) &&
            !indexGood.includes(index) &&
            !indexMainWord.includes(index) &&
            !indexGuessedWord.includes(i)
          ) {
            indexMainWord.push(index);
            indexGuessedWord.push(i);
            guessedWord[i].status = this.status.quite;
          }
        });
        if (!indexGuessedWord.includes(i) && !indexGood.includes(i)) {
          guessedWord[i].status = this.status.wrong;
        }
      });
      return { guessedWord, arrayNextWord };
    },
    createEmptyLine() {
      let newResponse = [];
      for (let i = 0; i < this.mainWord.length; i++) {
        newResponse[i] = {
          value: "",
          status: this.status.default,
        };
      }
      newResponse[0].value = this.mainWord[0];
      newResponse[0].status = this.status.good;
      return newResponse;
    },
    checkEquals(word1, word2) {
      return word1.every((el, i) => {
        if (el === word2[i]) {
          return true;
        }
        return false;
      });
    },
    async changeWord() {
      await this.getMainWord();
      this.tries = 0;
      this.isWin = false;
      this.isLost = false;
      this.userResponses.forEach((el) => {
        el = this.createEmptyLine();
      });
      this.$refs.wordForm[0].resetValue();
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/assets/styles/variables.scss";
main {
  #reload_bt {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
  h1 {
    text-align: center;
    margin-top: 100px;
    color: $secondary;
  }
  #response {
    margin-top: 1px;
  }
  #lines {
    margin-top: 150px;
    @media screen and (max-width: 760px) {
      margin-top: 60px;
    }
    .line {
      margin-top: 1px;
    }
  }
  #finishPhrase {
    width: 100%;
    margin-top: 250px;
    z-index: 2;
    position: absolute;
    text-align: center;
    @media screen and (max-width: 760px) {
      margin-top: 100px;
    }
    h3 {
      position: relative;
      color: $secondary;
      font-size: 72px;
      text-transform: uppercase;
      padding: 10px;
    }
  }
}
</style>
