<template>
  <form ref="form">
    <div v-for="i in userRes.length" :key="i">
      <input
        autocorrect="off"
        autocapitalize="none"
        :readonly="userRes[i - 1].status === 'good'"
        onkeydown="return /[a-z]/i.test(event.key)"
        v-on:keyup="handleValue($event, i)"
        v-on:click="toggleClass($event.target, i, true)"
        type="text"
        minlength="1"
        maxlength="1"
        size="1"
        :disabled="isDone"
        v-model="userRes[i - 1].value"
        :class="userRes[i - 1].status"
        v-bind:style="{ width: boxWidth + 'px' }"
      />
    </div>
  </form>

  <button
    v-bind:style="{ width: boxWidth * userRes.length + 'px' }"
    v-if="!isDone && !isLost"
    v-on:click="checkWord()"
  >
    Submit
  </button>
</template>

<script>
export default {
  props: ["userRes", "isLost"],
  name: "WordForm",
  emits: ["checkWord"],
  data() {
    return {
      isDone: false,
      width: "",
      currentIndex: undefined,
      editable: [],
      windowWidth: window.innerWidth,
    };
  },
  mounted() {
    if (this.isLost) return;
    this.findEditableInput();
  },
  computed: {
    boxWidth() {
      return 45;
    },
  },
  methods: {
    resetValue() {
      this.isDone = false;
      this.removeClass();
      this.findEditableInput();
    },
    findEditableInput() {
      if (!this.iditable) {
        this.editable.forEach((el, i) => {
          this.editable.push(i);
        });
      }
      this.userRes.forEach((el, i) => {
        if (el.status !== "good") this.editable.push(i);
      });
      this.currentIndex = this.editable[0];
      let firstEditable = this.$refs.form.elements.item(this.currentIndex);
      firstEditable.classList.add("currentI");
      firstEditable.disabled = false;
      firstEditable.focus();
      firstEditable.select();
    },
    handleValue(event, i) {
      let currentEl = event.target;
      this.currentIndex = i - 1;

      let editableIndex = {
        previous: this.findPrevEditIndex(),
        next: this.findNextEditIndex(),
      };
      // Check word if pressed Enter
      if (event.keyCode === 13) {
        this.checkWord();
        return;
      }
      // Update Value
      if (/[a-zA-Z]/.test(event.key) && event.key.length === 1) {
        currentEl.value = event.key;
        this.userRes[this.currentIndex].value = event.key;
      }

      // Change Cursor
      this.changeIndex(editableIndex, currentEl, event.which);
    },
    changeIndex(editableIndex, currentEl, which) {
      if (
        this.currentIndex + 1 < this.userRes.length &&
        currentEl.value &&
        editableIndex.next
      ) {
        this.changeItemFocus(currentEl, editableIndex.next);
        this.toggleClass(currentEl, editableIndex.next);
      } else if (which === 8 && editableIndex.previous) {
        this.changeItemFocus(currentEl, editableIndex.previous);
        this.toggleClass(currentEl, editableIndex.previous);
      }
    },
    changeItemFocus(el, index) {
      el.form.elements.item(index).focus();
    },
    toggleClass(el, index, isClicked) {
      this.removeClass();
      if (!isClicked) {
        el.form.elements.item(index).classList.add("currentI");
      } else {
        el.form.elements.item(index - 1).classList.add("currentI");
        this.currentIndex = index - 1;
      }
    },
    removeClass() {
      for (let i = 0; i < this.$refs.form.elements.length; i++) {
        this.$refs.form.elements.item(i).classList.remove("currentI");
      }
    },
    checkWord() {
      this.isDone = true;
      this.$emit("checkWord", this.userRes);
    },
    findPrevEditIndex() {
      let previousEditableIndexNumb = this.editable.findIndex(
        (el) => el === this.currentIndex
      );
      return this.editable[previousEditableIndexNumb - 1];
    },
    findNextEditIndex() {
      return this.editable.find((el) => el > this.currentIndex);
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/variables.scss";
form {
  display: flex;
  justify-content: center;
  input {
    caret-color: transparent;
    cursor: default;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    height: 50px;
    margin-left: 1px;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    color: $primary;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &.currentI {
      border: 1px solid $primary;
    }
    &.quite {
      color: $primary;
      background-color: rgba(255, 255, 255, 0.7);
      opacity: 1;
    }
    &.wrong {
      color: $primary;
      opacity: 0.3;
      text-decoration: line-through;
    }
    &.final {
      background-color: $secondary;
      color: #fff;
    }
    &[disabled].good {
      color: #fff !important;
      background-color: $primary;
      opacity: 1;
      -webkit-opacity: 1;
      -webkit-text-fill-color: #fff;
    }
    &.good {
      color: #fff !important;
      background-color: $primary;
      opacity: 1;
    }
  }
}
button {
  display: block;
  background-color: $primary;
  height: 50px;
  border: none;
  margin: 50px auto;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
</style>
