<template>
  <RouterView />
</template>

<script>
import { mapActions } from "vuex";
export default {
  mounted() {
    this.getMainWord();
  },
  methods: {
    ...mapActions(["getMainWord"]),
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
</style>
