@import "~@/assets/styles/variables.scss";

@mixin logoauth {
  position: absolute;
  bottom: 5%;
  left: 3%;
}

@mixin formauth {
  width: 340px;
  margin: 175px auto;
  a {
    text-align: center;
    display: block;
    margin-top: 40px;
  }
  .formauth__error {
    margin-top: 20px;
    display: block;
    color: $alert;
  }
}

@mixin sub {
  margin: 10px;
  color: #fff;
  padding: 30px 0;
  @media screen and (max-width: 760px) {
    margin: 10px auto;
  }
  @media screen and (max-width: 760px) {
    margin: 10px auto;
  }
}

@mixin sub__main {
  display: flex;
  margin: 0 30px;
  ul {
    margin-left: 15px;
    h2 {
      margin-top: 2px;

      font-size: 26px;
    }
    span {
      display: inline-block;
      font-size: 16px;
      color: $third;
      margin-top: 3px;
    }
  }
}

@mixin form_error {
  display: block;
  margin-top: 20px;
  color: $alert;
}

@mixin bt {
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  height: 45px;
  transition: 0.3s;
}

@mixin login {
  display: flex;
  justify-content: center;
  margin-top: 175px;
  @media screen and (max-width: 950px) {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
  }
  h1 {
    margin-bottom: 50px;
    line-height: 35px;
    @media screen and (max-width: 950px) {
      margin-bottom: 20px;
    }
  }
  .formauth {
    @include formauth;
    margin: 0;
    padding: 0 75px 0 0;
    @media screen and (max-width: 950px) {
      padding: 0;
    }
  }
  #guest {
    width: 340px;
    padding: 0 0 0 75px;
    border-left: 1px solid $secondary;
    @media screen and (max-width: 950px) {
      padding: 60px 0 0 0;
      border-top: 1px solid $secondary;
      border-left: none;
      margin-top: 60px;
    }
    button {
      @include bt;
      width: 340px;
      background-color: $highlight;
      border: 1px solid $highlight;
      margin-top: 20px;
      transition: 0.2s;
      border: none;
      &:hover {
        background-color: #04b0a9;
      }
      &:disabled {
        color: #b4e8e6;
      }
    }
  }
}
