body {
  background: rgb(250, 208, 196);
  background: linear-gradient(
    180deg,
    rgba(250, 208, 196, 1) 0%,
    rgba(255, 209, 255, 1) 100%
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #fff;
  overflow: hidden;
  min-height: 100vh;
}

*:focus {
  outline: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}
